.Contactos{
    width: 90%;
    text-align: left;
    margin-left: 5%;
}

.Mezcla{
    margin-left: 5%;
    width: 90%;
    text-align: justify;
}

.Formulario{
    text-align: center;
}

label{
    color: white;
}

.contenedor{
    display: inline-flex;
    width: 100%;
    background-color: black;
    opacity: 0.8;
    color: white;
}

.divisor{
    width: 50%;
}